# Copiez ce fichier en .env et remplacez VOTRE_MOT_DE_PASSE
# cp .env.example .env

MONGODB_URI=mongodb+srv://mamyadama123_db_user:VOTRE_MOT_DE_PASSE@cluster0.9uaz8kt.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
DATABASE_NAME=student_depression_db
COLLECTION_NAME=students
