# Environnement virtuel
venv/
env/

# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Logs
*.log
output.log

# Fichiers système
.DS_Store
._*
.vscode/
.cursor/
.idea/

# Variables sensibles
.env
